
@{
    ViewData["Title"] = "Hvala";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hvala</h2>

<p>Bash vam hvala sto se se izglasali na nasoj predivnoj eGlasaj platformi. Nek najnajnajbolji pobijede.</p>
<p>Svoj glas za opcinskog nacelnika ste dali Suadu Huskicu.</p>
<p>Za opcinsko vijece izabrali ste sljedece kandidate iz stranke SDA:</p>
<ul>
    <li>Suad Huskic</li>
    <li>Suad Huskic</li>
    <li>Suad Huskic</li>
</ul>