@{
    ViewData["Title"] = "Home Page";
}
    <div class="container">
        <div class="row">
            <h1>eGlasaj</h1>
            <p>Ma jedna top applikacija za eGlasanje za nasu divnu nam BejHo</p>
        </div>

    </div>